body {
    font-family: 'Space Mono', monospace;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 98vh;
}

.container .left {
    display: grid;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}

.container .right {
    display: grid;
    background-color: #cfcfcf;
    padding: 20%;
    grid-template-rows: 70% 30%;
    align-items: center;
    text-align: center;
}

.container .right .navbar {
    display: grid;
    grid-template-rows: 50% 50%;
    row-gap: 10px;
    justify-content: center;
}

.email button, .navbar button, .aboutMe-Container .left button {
    background-color: black;
    letter-spacing: 1px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.aboutMe-Container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 98vh;
}

.aboutMe-Container .left {
    display: grid;
    grid-template-rows: 80% 20%;
    border-top: 15px solid white;
    border-left: 10px solid white;
}

.aboutMe-Container .right {
    display: grid;
    background-color: #cfcfcf;
    color: rgb(0, 0, 0);
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border: 10px solid white;
}

.aboutMe-Container .right div {
    border: 5px solid white;
    padding: 10%;
}

.aboutMe-Container .right div h1 {
    justify-self: center;
    letter-spacing: 5px;
}

.aboutMe-Container .right div ul {
    justify-self: center;
    line-height: 40px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}