body {
    font-family: 'Space Mono', monospace;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 98vh;
}

.container .left {
    display: grid;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}

.container .right {
    display: grid;
    background-color: #cfcfcf;
    padding: 20%;
    grid-template-rows: 70% 30%;
    align-items: center;
    text-align: center;
}

.container .right .navbar {
    display: grid;
    grid-template-rows: 50% 50%;
    row-gap: 10px;
    justify-content: center;
}

.email button, .navbar button {
    background-color: black;
    letter-spacing: 1px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
